body {
    background: #111;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background: #f3ba2f;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

img {
    margin-top: 20px;
    max-width: 300px;
    border-radius: 12px;
}
